{% extends 'base.html' %}
{% load static %}

{% block content %}

<body id="bg">
    <h1 class="text-center" style="color: #007bff;">Why Us</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center" style="color: white;">
            <h3 class="text-center" style="color: white;">This material is for informational purposes only and is only intended for sophisticated or institutional investors. This material is not (i) an offer, or solicitation of an offer, to invest in, or to buy or sell, any interests or shares, or to participate in any investment or trading strategy, (ii) intended to provide accounting, legal, or tax advice, or investment recommendations, or (iii) an official statement of FalconX or any of its affiliates. Any information contained in this material is not and should not be regarded as investment research, debt research, or derivatives research for the purposes of the rules of the CFTC or any other relevant regulatory body. </h3>
        </div>
        </div>
    </div>
</div>
</body>

{% endblock %}