{% extends 'base.html' %}
{% load static %}

{% block content %}

<body id="bg" style="background-image: url('{% static 'img/btc.jpg' %}');     background-size: cover;">

    <h1 class="text-center" style="color: #007bff;">Why Us</h1>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" style="color: white;">Unsere Gründer erlebten die Nachteile der Fragmentierung des Kryptomarktes hautnah, während sie ihre eigenen Strategien handelten. Sie identifizierten Markenstrukturprobleme, einschließlich komplexer Bestandsführung, Preisermittlung und unzuverlässiger Marktdaten. Nach Jahren, die sie als serielle Unternehmer und in Führungspositionen bei Google und Accel verbrachten, gründeten sie FalconX, um diese Lücken zu füllen.

                Um offene, berechtigungslose und wirklich globale digitale Vermögenswerte im großen Maßstab von Mainstream-Institutionen angenommen zu werden, ist die heutige digitale Infrastruktur grob unzureichend. Falcons Mission ist es, dieses Verbindungsgewebe aufzubauen. Unsere Technologie wird die Infrastruktur für die Zukunft digitaler Vermögenswerte bereitstellen und eine nahtlose Preisermittlung, Handelsausführung und Übertragung von Werten ermöglichen.</div>
    
</div>

{% endblock %}