{% extends 'base.html' %}
{% load static %}

{% block content %}

<body id="bg" style="background-image: url('{% static 'img/btc.jpg' %}');     background-size: cover;">

    <h1 class="text-center" style="color: #007bff;">Why Us</h1>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" style="color: white;">Our founders experienced the pitfalls of crypto market fragmentation firsthand, while trading their own strategies. They identified market structure issues including complex inventory management, price discovery, and unreliable market data. After years spent leading teams as serial entrepreneurs, and leadership roles at Google and Accel, they founded FalconX to fill these voids.

                For open, permission-less, and truly global digital assets to be adopted by mainstream institutions at scale, today's digital infrastructure is grossly inadequate. FalconX's mission is to build this connective tissue. Our technology will provide the infrastructure for the future of digital assets and enable seamless price discovery, trade execution, and transfer of value.</h3>
        </div>
    
</div>

{% endblock %}