{% extends 'base.html' %}

{% load static %}

{% block content %}

<body id="bg" style="background-image: url('{% static 'img/btc.jpg' %}'); background-size: cover; background-repeat: no-repeat; height: 100pc;">

<div class="container">

<div class="row justify-content-center">

<div class="col-md-8">
<h1 class="text-center text-white" style="color: #008bff!important; margin-top: 10%; font-size: 30px;">We've recieved your form
</br>
</br>
Our consultant will contact you soon</h1>
</h1>

</div>
</div>
</div>

</body>


{% endblock %}