{% extends 'base.html' %}

{% load static %}
{% block content %}

<body id="bg" style="background-image: url('{% static 'img/btc.jpg' %}');     background-size: cover;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-color: black;>

<div class="wrapper">
    <div class="videocontent">
        <video id="myvideo" class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered" controls
        preload="auto" width="640" height="264" poster="{% static 'video/pr.png' %}"
       data-setup="{}">
       <source src="{% static 'video/Promo.mp4' %}" type="" />
    </video>
</div>
</div>

<form action="{% url 'account_signup' %}">

    <button class="btton" action="{% url 'account_signup' %}">Get Your Webinar</button>
    
    </form>
    


</body>
{% endblock %}